* {
    box-sizing: border-box;
}

.container {
    background-color: #f6f6ec;
    width: 50rem;
    padding: 1em 2em;
    margin: 0 auto;
}

.form1 {
    
    color: blue;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-flow: column;
    

    transition: all 0.3s;
}
.mem-text {
    display: flex;
    transition: all 0.1s;
}


.link{
    
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0.8rem 3rem 0.8rem 0;
    padding: 0.8rem 0 0.8rem 0;
    border-bottom: 0.13rem solid #b9bdc15b;

}


.form1:hover {
   color: black;
}

.mem-text{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.mem-pic{
    height: 0rem;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 3rem;
    transition: all 0.5s;
}

.link:hover .mem-pic {
    height: 25rem;

}


.img1 {
width: 1.5rem;
height: 1.5rem;
opacity: 0;
transition: all 0.2s;
}

.radio1{
    display: none;
}

.radio1:checked ~ .mem-pic {
    height: 25rem;
}

.radio1:hover ~ .mem-text .img1 {
    transform: rotate(45deg);
}

.radio1:checked ~ .mem-text .img1 {
    transform: rotate(45deg);
}

.radio1:checked ~ .mem-text {
    color: black;
}

.link:active .mem-text {
    color: blue;
}

.pic{
    transition: all 0.3s;
}

.link:active .pic {
    opacity: 0.7;
}

.link:active .img1 {
    fill: blue;
}

.form1:hover .img1 {
    opacity: 1;

}

.form1 label:first-child {
    padding-top: 2rem;
    border-top: 0.13rem solid #b9bdc15b;
}

.form1 label:last-child {
    border-bottom: none;
}

@media screen and (max-width: 419px) {
    .container{
        width: 18rem;
        padding: 0.8rem;
    }

    h1{
        font-size: 1.5rem;
    }

    .mem-text{
        font-size: 1.2rem;
    }

    .mem-pic{
        margin:0.8rem 0 0 0;
    }

    .mem-pic img{
        width: 18rem;
        height: 18rem; 
    }

    .link:hover .mem-pic {
        height: 18rem;
    }

    .radio1:checked ~ .mem-pic {
        height: 18rem;
    }

    .link{
        margin: 0;
    }
}


@media screen and (min-width: 420px) and (max-width: 820px) {
    .container{
        width: 100%;
        max-width: 30rem;
        padding: 0.8rem;
    }

    h1{
        font-size: 1.8rem;
    }

    .mem-text{
        font-size: 1.4rem;
    }

    .mem-pic{
        margin:0.8rem 0 0 0;
    }

    .mem-pic img{
        width: 18rem;
        height: 18rem; 
    }

    .link:hover .mem-pic {
        height: 18rem;
    }

    .radio1:checked ~ .mem-pic {
        height: 18rem;
    }

    .link{
        margin: 0;
    }
}


@media screen and (min-width: 821px) {
    .form1:hover {
        cursor: pointer;
     }
     
     .form1:hover * {
         cursor: pointer;
     }
}


