body {
    padding: 50px;
    background-color: #f6f6ec;
}

.form1 {
    color: blue;
    font-size: 22px;
    font-weight: bold;
    width: 800px;
    display: flex;
    flex-flow: column;
    
    padding: 10px 0px 10px 0;

    transition: all 0.3s;
}
.mem-text {
    display: flex;
}


.link{
    
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 10px 50px 10px 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #4d6278;

}



.form1:hover {
   color: black;
}

.mem-text{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.mem-pic{
    height: 0px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 40px;
    transition: all 0.5s;
}

.link:hover .mem-pic {
    height: 400px;

}

.img1 {
width: 15px;
height: 15px;
}

